---
import AppCoordinator from "../components/AppCoordinator.jsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MartyrOS</title>
    </head>
    <body>
        <AppCoordinator client:load />
    </body>
</html>
